body {
	background-color: #F9F9F9;
	margin:0;
	padding: 0;
}	
#viewport {
    width:1000px;
    height:1000px;
    overflow:hidden;
    background-color:white;
}

#zoomer {
    position: absolute;
    top: 0px;
    left: 40px;
    background-color: #ccc;
    padding: 30px;
}

#zoomer .zoomButton {
    border: 1px solid #EAEAEA;
    float: left;
    font-size: 22px;
    line-height: 20px;
    margin-right: 5px;
    margin-top: 5px;
    padding: 20px;
}
            
#label1 {
    /*left:230px;
    top:165px;*/
    left: 30%;
    top: 18%;
    width:90px;
    
}

#label2 {
    /*left:460px;
    top:285px;*/
    left:70%;
    top: 22%;
    width:150px;
    
}
#label3 {
    left:490px;
    top:485px;
    width:150px;
    
}
#label4 {
    left:190px;
    top:685px;
    width:150px;
    
}

div.label {
    padding:10px;
    font-family: Helvetica Neue;
    font-size: 12px;
    line-height: 14px;
    position: absolute;
    color:#aaa;
    -webkit-user-select:none;
	-moz-user-select:none;
}

div.label:hover {
    color:#333;
    cursor:pointer;
    cursor:hand;
}

.tree {
     pointer-events: none;
}

#container {
    position:relative;
    margin-top:0;
    margin-left:auto;
    margin-right:auto;
    width:720px;
    box-sizing: border-box;
}